<div class="container">
  <app-nb-main></app-nb-main>
</div>
<div class="container">
  <div class="container align-content-lg-center">
    <div class="row">
      <div class="col col-lg-12">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button type="button" class="btn btn-info" routerLink="/student/dashboard">Estudiante</button>
          <button type="button" class="btn btn-success" routerLink="/maestro/perfil">Maestro</button>
        </div>
      </div>
    </div>
  </div>
</div>
