<div class="mt-2 row main-tex-wm">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="#">Estudiante</a></li>
      <li class="breadcrumb-item"><a routerLink="#">Cursos</a></li>
      <li class="breadcrumb-item"><a routerLink="#">Violin</a></li>
      <li class="breadcrumb-item active" aria-current="page"><strong>Actividad 1</strong></li>
    </ol>
  </nav>
</div>

<div class="row main-tex-wm">
  <h3><br>Actividad 1</h3>
</div>

<div class="row justify-content-center">
  <div class="col col-lg-12">
    <app-card-activity></app-card-activity>
  </div>
</div>
