<nav class="navbar navbar-expand-lg sticky-lg-top main-color-wm">
  <div class="container">
    <a class="navbar-brand" href="/inicio">
      <img src="../../../../assets/images/logos/wawaMentor1.png" width="200" height=auto alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <form class="d-flex" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar cursos">
              <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </li>
      </ul>
      <span class="navbar-text" style="color: white">
        <div class="container">
          Bienvenido/a <strong>Helena</strong>
        </div>
      </span>
      <div class="d-flex">
        <div class="btn-group">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../../assets/images/navbar/user.jpg" alt="user" class="rounded-circle" width="40"
                 height="40"></a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/student">
              <a class="fa fa-edit"></a> Editar Cuenta
            </a>
            <a class="dropdown-item" href="/teacher">
              <a class="fa fa-user-plus"></a> Mi perfil
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/">
              <a class="fa fa-power-off"></a> Cerrar Sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--<nav class="navbar navbar-expand-lg fixed-top navbarMainColor">-->
<!--  <div class="container">-->
<!--    &lt;!&ndash;   Logo principal &ndash;&gt;-->
<!--    <a class="navbar-brand" href="/inicio">-->
<!--      <img src="../../../../assets/images/logos/wawaMentor1.png" width="225" height="75" alt="">-->
<!--      &lt;!&ndash;      <b style="color: white"> WawaMentor</b>&ndash;&gt;-->
<!--    </a>-->
<!--    &lt;!&ndash; Cuadro de busqueda&ndash;&gt;-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          &lt;!&ndash; Search &ndash;&gt;-->
<!--          <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">-->
<!--            <button class="btn"><i class="fa fa-search"></i></button>-->
<!--          </form>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->

<!--    &lt;!&ndash; Boton de usuario &ndash;&gt;-->
<!--    <a href="#" style="color: floralwhite">Bienvenido/a <strong>Helena</strong></a>-->
<!--    <div class="btn-group">-->
<!--      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img-->
<!--        ngSrc="../../../../assets/images/navbar/user.jpg" alt="Avatar" class="rounded-circle" width="40"-->
<!--        height="40"></a>-->
<!--      <div class="dropdown-menu dropdown-menu-right">-->
<!--        <a class="dropdown-item" href="/">-->
<!--          <i class="fa fa-edit"></i> Editar Cuenta-->
<!--        </a>-->
<!--        <a class="dropdown-item" href="/">-->
<!--          <i class="fa fa-user-plus"></i> Mi perfil-->
<!--        </a>-->
<!--        <div class="dropdown-divider"></div>-->
<!--        <a class="dropdown-item" href="/">-->
<!--          <i class="fa fa-power-off"></i> Cerrar Sesión-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
