<!--  navbar-->
<div class="container-fluid">
  <!--  migas de pan-->
  <br>
  <div class="row">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" ><a href="/student/dashboard" class="text-black">Estudiante</a></li>
        <li class="breadcrumb-item active"><a href="/student/dashboard" class="text-black">Dashboard</a></li>
      </ol>
    </nav>
  </div>


  <h1 class="h2" style="color: #114491">Dashboard</h1>
  <br>

  <!--  Alertas -->
  <div class="alert alert-success alert-dismissible fade show text-black" role="alert">
    Tienes activades pendientes <strong>para hoy.</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <br>


  <div class="container">
    <div class="row">
      <!--  Cursos-->
      <div class="col-lg-6">
        <app-student-courses></app-student-courses>
      </div>

      <!--  Tareas -->
      <div class="col-lg-6">
        <app-student-tasks></app-student-tasks>
      </div>
    </div>
  </div>


</div>


