<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2196f3">
  <div class="container">
    <!--   Logo principal -->
    <a class="navbar-brand" href="#">
      <img ngSrc="assets/images/navbar/wawalogo.svg" width="40" height="40" class="d-inline-block align-top" alt="">
      <b style="color: white"> WawaMentor</b>
    </a>
    <!-- Cuadro de busqueda-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- Search -->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn"><i class="fa fa-search"></i></button>
          </form>
        </li>
      </ul>
    </div>

    <!-- Boton de usuario -->
    <div class="btn-group">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"><img
        ngSrc="assets/images/navbar/user.jpg" alt="Avatar" class="rounded-circle" width="40" height="40"></a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="/">
          <i class="fa fa-edit"></i> Editar Cuenta
        </a>
        <a class="dropdown-item" href="/">
          <i class="fa fa-user-plus"></i> Mi perfil
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/">
          <i class="fa fa-power-off"></i> Cerrar Sesión
        </a>
      </div>
    </div>
  </div>
</nav>
