<ul class="list-group list-group-fit mb-0" style="z-index: initial;">
  <li class="list-group-item" style="z-index: initial;">
    <div class="d-flex align-items-center">
      <a href="/" class="avatar avatar-4by3 avatar-sm mr-3">
        <img src="../../../assets/images/courses/violin.jpg" alt="course violin" class="avatar-img rounded" width="150">
      </a>
      <div class="flex">
        <div class="d-flex align-items-center">
          <a href="/" class="text-body"><strong>{{ nombreCurso }}</strong></a>
        </div>
        <span class="badge badge-primary">{{ nivel }}</span>
      </div>
    </div>
  </li>
</ul>
