<div class="card">
  <div class="card-header">
    <div class="media align-items-top">
      <div class="media-body">
        <h4 class="card-title">Mis Cursos</h4>
        <br>
        <p class="card-subtitle">Cursos recientes</p>
      </div>
      <div class="media-right">
        <a class="btn btn-sm btn-primary"
           href="/">Ver mis cursos</a>
      </div>
    </div>
    <div  *ngFor="let cur of listaCursos">
      <app-card-course
        [nombreCurso]="cur.nombre"
        [nivel]="cur.nivel"></app-card-course>
    </div>
  </div>
</div>
