<ul class="list-group list-group-fit mb-0" style="z-index: initial;">

  <li class="list-group-item">
    <div class="d-flex align-items-center">
      <div class="flex">
        <div class="d-flex align-items-center">
          <a href="/" class="text-body"><strong>{{ nombreTarea }}</strong></a>
        </div>
        <div class="d-flex align-items-center">
          <small class="text-black-50 text-uppercase mr-2">Curso:</small>
          <a href="/">{{ nombreCurso }}</a>
        </div>
        <div class="media-right text-center d-flex align-items-center">
          <h4 class="mb-0">{{ calificacion }}</h4>
        </div>
      </div>
    </div>
  </li>
</ul>
