<div class="card">
  <div class="card-header">
    <div class="media align-items-center">
      <div class="media-left">
        <img src="assets/images/navbar/guy-2.jpg"
             alt="About Adrian"
             width="50"
             class="rounded-circle">
      </div>
      <div class="media-body">
        <h4 class="card-title"><a href="/">Marcos Atupana</a></h4>
        <p class="card-subtitle">Instructor</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Profesor de piano en la fundación Wayra Wawa. Más de 12 años de experiencia en el piano.</p>
    <a href=""
       class="btn btn-light"><i class="fa fa-facebook"></i></a>
    <a href=""
       class="btn btn-light"><i class="fa fa-twitter"></i></a>
    <a href=""
       class="btn btn-light"><i class="fa fa-github"></i></a>
  </div>
</div>
