<div class="row">

  <div class="col-md-8">
    <!-- Lessons -->
    <ul class="card list-group list-group-fit">
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <div class="text-muted">1.</div>
          </div>
          <div class="media-body">
            <a href="#">Introducción al piano</a>
          </div>
          <div class="media-right">
            <small class="text-muted-light"></small>
          </div>
        </div>
      </li>
      <li class="list-group-item active">
        <div class="media">
          <div class="media-left">
            2.
          </div>
          <div class="media-body">
            <a class="text-white"
               href="#">Partes del Piano</a>
          </div>
          <div class="media-right">
            <small></small>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <div class="text-muted">3.</div>
          </div>
          <div class="media-body">
            <a href="#">Postura</a>
          </div>
          <div class="media-right">
            <small class="text-muted-light"></small>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <div class="text-muted">4.</div>
          </div>
          <div class="media-body">
            <a href="#">Técnica de Manos</a>
          </div>
          <div class="media-right">
            <small class="text-muted-light"></small>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="media">
          <div class="media-left">
            <div class="text-muted">6.</div>
          </div>
          <div class="media-body">
            <a href="#">Primera evaluación</a>
          </div>
          <div class="media-right">
            <small class="text-muted-light"></small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
