<!-- Título de curso -->

<!-- Breadcrumb -->
<div class="mt-2 row main-tex-wm">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="#">Estudiante</a></li>
      <li class="breadcrumb-item"><a routerLink="#">Cursos</a></li>
      <li class="breadcrumb-item"><a routerLink="#">Violin</a></li>
      <li class="breadcrumb-item active" aria-current="page"><strong>
        Introducción a la lectura musical y el sistema de notación
      </strong></li>
    </ol>
  </nav>


  <div class="row main-tex-wm">
    <h5><br> Introducción a la lectura musical y el sistema de notación</h5>
  </div>

  <!-- Cuerpo del curso -->
  <div class="row">
    <!--  Columna izquierda-->
    <div class="col col-lg-8">

      <!--  Imagen introductoria y descripcion de curso  -->
      <div class="card mb-3">
        <img src="assets/bg/fondo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">En este curso, aprenderás técnicas básicas del violín, postura, arco y digitación, además
            de lectura de partituras.</p>
        </div>
      </div>
    </div>
  </div>


</div>
