<div class="page ">
  <div class="container page__container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" ><a href="/student/dashboard" class="text-black">Maestro</a></li>
        <li class="breadcrumb-item active"><a href="/student/dashboard" class="text-black">Perfil</a></li>
      </ol>
    </nav>
    <div class="text-center">
      <a href="#"><img src="assets/images/navbar/guy-2.jpg"
                       alt=""
                       class="rounded-circle"></a>
      <h1 class="h2 mb-0 mt-1">Marcos Atupana</h1>
      <!--      <p class="lead text-muted mb-0"></p>-->
      <div class="badge badge-primary ">MAESTRO DE PIANO</div>
      <br><br>
      <button type="button" class="btn btn-outline-primary">Editar perfil</button>
      <hr>
      <h5 class="text-muted mb-1">Hola, soy profesor de piano de la Fundación Wayra Wawa.</h5>
      <hr>
      <div class="text-left">
        <br>
        <h4>Mis <strong>Cursos</strong></h4>
        <br>
      </div>
      <div class="card-columns">
        <div class="card">
          <div class="card-header">
            <div class="media align-items-center">
              <div class="media-left">
                <a href="/">
                  <img src="assets/images/courses/piano.jpg"
                       alt="Card image cap"
                       width="100"
                       class="rounded">
                </a>
              </div>
              <div class="media-body">
                <h4 class="card-title mb-0"><a href="/">Piano</a></h4>
                <div class="rating">
                  <i class="fa fa-school">Inicial</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="media align-items-center">
              <div class="media-left">
                <a href="/">
                  <img src="assets/images/courses/guitar.jpg"
                       alt="Card image cap"
                       width="100"
                       class="rounded">
                </a>
              </div>
              <div class="media-body">
                <h4 class="card-title mb-0"><a href="/">Guitarra</a></h4>
                <div class="rating">
                  <i class="material-icons">Intermedio</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
