<div class="card">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/hFykjO50DFk?si=R6TkI69dzhScQduB"
            allowfullscreen=""></iframe>
  </div>
  <div class="card-body">
    En este curso, aprenderás técnicas básicas del violín, postura, arco y digitación, además de lectura de partituras
  </div>
</div>
<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/kAALQ4JEY6c?si=ThzvV5-uv-m0QBbx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
