<div class="card">
  <ul class="list-group list-group-fit">
    <li class="list-group-item">
      <div class="media align-items-center">
        <div class="media-left">
          <i class="fa fa-calendar text-muted-light"></i>
        </div>
        <div class="media-body">
           Mar 5 <strong class="text-muted">hrs</strong> &nbsp; Ago <strong class="text-muted">24</strong>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="media align-items-center">
        <div class="media-left">
          <i class="fa fa-university text-muted-light"> </i>
        </div>
        <div class="media-body"> Inicial</div>
      </div>
    </li>
  </ul>
</div>
